.mat-checkbox-checked {
  text-decoration: line-through;
}

.deleteList {
  position: absolute;
  right: 10px;
  top: 10px;
  @media screen and (min-width: 720px) {
    right: 25px;
    top: 20px;
  }
}

.spacer {
  flex: 1 1 auto;
}

.spacer-min {
  flex: 0 1 20px;
}
