$iconWidth: 56px;

.sidenav-toggle {
  display: none;
  margin: 8px;
  min-width: $iconWidth;
  padding: 0;

  @media (max-width: 720px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  mat-icon {
    color: white;
    font-size: 30px;
    height: $iconWidth;
    line-height: $iconWidth;
    width: $iconWidth;
  }
}

.brand {
  font-size: 1.5em;
  font-weight: lighter;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  a {
    color: white;
    text-decoration: none;
  }
  mat-icon {
    font-size: 1em;
    vertical-align: top;
  }
}

.spacer {
  flex: 1 1 auto;
}
